.top-container{
            height: 50px;
            width: 100%;
            background-color: #A6F1E0; 
            display: flex;  
            gap: 30px;
            
}
.page{
    margin-left: 50px;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
}
.page span{
    color: white;
}
.page2{
    display: flex;
    /* border: 1px solid; */
    width: 800px;
    margin-left: 100px;
    
}
.page3{
    align-items: center;
    /* border: 1px solid; */
    display: flex;
    margin-left: 10px;
    width: 500px;
    gap: 40px;
}
.version{
    color:#344CB7;
}

.Interior{
    height: 40px;
    width: 100%;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: absolute;
    z-index: 40;

    
}
.textVisible{
    position: absolute;
    z-index: 40;
    top: 50px;
    margin-left: 350px;
}
.textVisible button{
    background-color: #344CB7;
    height: 30px;
    width: 100px;
    color: aliceblue;
    border-radius: 5px;
}


.istock{
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 10;
    
    
    
}
.middle-container{
    position: relative;
    height: 550px;
    width: 100%;
}
.engine{
    height: 700px;
    width: 1200px;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: auto auto auto ;
    align-items: center;
    padding-left: 50px;
    
    
    
}
.spray{
    margin-left: 20px;
}


.car{
    height:250px;
    width: 350px;
    border: 1px solid;
    display: flex;
}




.car img{
    width: 170px;
    height: 250px;
    
}
.crush{
    display: flex;
    justify-content: center;
}
.apple{
    margin-left: 200px;
}
#search{
    width: 800px;
}
/* <!..................................................................> */


.paper{
    height: 700px;
    width: 900px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.note{
    display: flex;
    justify-content: center;
}
.book{
    height:650px;
    width: 500px;
    /* border: 1px solid; */
    border-radius: 20px;
    box-shadow: 0px 10px 30px gray;
}
.lia{
    height: 50px;
    width: 500px;
    /* border: 1px solid; */
    display: flex;
}
.lia2{
    display: flex;
    align-items: center ;
    gap: 10px;
}
.lia3{
    display: flex;
    align-items: center;
    margin-left: 100px;
    gap: 10px;
}
.border{
    border: 1px solid #000;
    display: flex;
    justify-content: center;
}
/* .October hr{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;

} */
.chat-date {
    text-align: center;
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    
}
.Finch{
    color: #777;
    font-weight: 1000;
    margin-left: 40px;
}
.rich{
    display: flex;
}
.rich1{
    width: 370px;
    height: 50px;
    /* border: 1px solid; */
    margin-left: 40px;
    border-radius: 12px;
    background-color:#EAEAEA;
    p{
        font-size: large;
        margin-top: 5px;
        margin-left: 10px;
    }
}
.rich2{
    margin-top: 35px;
    margin-left: 2px;
}
.about{
    display: flex;
}
.about1{
    width: 370px;
    height: 50px;
    /* border: 1px solid; */
    border-radius: 12px;
    background-color: #EAEAEA;
    margin-left: 10px;
    p{
        font-size: large;
        margin-top: 5px;
        margin-left: 10px;
    }
}
.about2{
    margin-top: 35px;
    margin-left: 2px;
}
.about3{
    margin-top: 20px;
}
.product{
    width: 370px;
    height: 50px;
    border: 3px solid #b93ceb;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-left: 110px;
p{
        font-size: large;
        margin-left: 15px;
        color:#b93ceb ;
    }
}
.product1{
    width: 270px;
    height: 45px;
    border: 3px solid #b93ceb;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 210px;
    p{
        font-size: large;
        /* margin-left: 15px; */
        color:#b93ceb ;
    }
}
.product2{
    width: 270px;
    height: 45px;
    border: 3px solid #b93ceb ;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 210px;
    background-color:#b93ceb ;
    p{
        font-size: large;
        /* margin-left: 15px; */
        color:white;
    }

}
.Finch1{
    color: #777;
    font-weight: 1000;
    margin-left: 40px;
}
.Great{
    display: flex;
    /* border: 1px solid; */
}
.Great2{
    width: 370px;
    height: 70px;
    
    border-radius: 12px;
    background-color: #EAEAEA;
    margin-left: 10px;
    /* margin-bottom: 20px; */
    p{
        font-size: large;
        margin-top: 5px;
        margin-left: 5px;
    }
}
.Great1{
    margin-top: 30px;
}
.Great3{
    margin-top: 50px;
}
.Power{
    display: flex;
    justify-content: center;
}
